@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Urbanist", sans-serif;
  /* line-height: 0; */
  transition: all ease 0.4s;
}

:root{
  /* main colors */
  --bs-dark-primary:rgb(95, 16, 119);
  --bs-p-color:rgb(41, 41, 41);
  --bs-h-primary:rgb(95, 16, 119);
  /* button color */
  --btn-main--: rgb(95, 16, 119);
  --btn-hover--: rgb(95, 16, 119);
  --bs-btn-text-main:rgb(95, 16, 119);
  --bs-btn-text-hover:rgb(255, 255, 255);
}

h1,h2,h3,h4,h5{
  font-family: "Lexend Deca", sans-serif;
  color: var(--bs-h-primary);
}

h1{
  /* font-size: 3.8rem; */
  font-size: clamp(2rem, 4vw, 3.5rem);
}

h2{
  line-height: 3rem;
  font-weight: 600;
  /* font-size: 2.4rem; */
  font-size: clamp(1.75rem, 3vw, 2.75rem);

}

a{
  text-decoration: none;
  /* color: aqua; */
}
p{
  color: var(--bs-p-color);
  font-weight: 800;
  font-size: clamp(1rem, 2vw, 2.5rem);
}

.btn{
  box-shadow: none !important;
  border-color:var(--bs-dark-primary);
}
.btn:hover{
  background-color:var(--btn-hover--);
  border-color: var(--btn-main--);
}

.custom-btn:active:focus {
  background-color: var(--btn-main--) !important;
  border-color: var(--btn-main--);
}


.btn a{
  color: var(--bs-btn-text-main);
}
.btn a:hover{
  color: var(--bs-btn-text-hover);
}

section{
  margin-top: 5rem;
}


/* nav bar styling */

.navbar{
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out;
  background-color: var(--bs-dark-primary) !important;
}
.navbar.scrolling {
  box-shadow: 0 2px 4px ;
}

video{
  width: 100%;
}


